[data-theme = "light"] {
    --color-bg: #fcfbf2; /*background colour var*/
		--color: rgb(107, 107, 107);  /*text colour var*/
		--color-nav: #f1eee1;  /*Navbar background colour var*/
    --color-border: #c6c7bd; /* border colour for centre box */

       }

[data-theme = "dark"] {
--color-bg: #1f1f1f;
--color: rgb(218, 218, 218);
--color-nav: #3f3f3f;
--color-border: #5a5a5a;
      }

body {
	margin: 0;
  justify-items: center;
	/*font-family: "Web IBM VGA 8x16", monospace; */
	background-color: var(--color-bg);
	color: var(--color);
  font-size:large;
	
}

h1 {
  margin-bottom: 4%;
}

.container {
  margin-top: 4%;
  
}

  .boxes-container {
    flex: content;
    align-items: flex-start;
     
  }


  .left-box {
    position: fixed;
    
    left: 10%; 
    
    
    
    padding: 10px;
    box-sizing: border-box;
  }


  .center-box {
    
    align-self: center;
    
    padding: 10px;
    box-sizing: border-box;
  }
