[data-theme = "light"] {
    --color-bg: #e7e5ce; /*background colour var*/
		--color: rgb(107, 107, 107);  /*text colour var*/
		--color-nav: #e7e5ce; /*Navbar background colour var*/
    --color-border: #c6c7bd; /* border colour for centre box */
    
       }

[data-theme = "dark"] {
    --color-bg: #1f1f1f;
    --color: rgb(211, 211, 211);
    --color-nav: #1f1f1f;
    --color-border: #5a5a5a;

      }

      
/* main things - elements */

body {
  display: grid;
	margin: 0;
  padding: 0;
  height: 100%;
  justify-items: center;
	/*font-family: "Web IBM VGA 8x16", monospace; */
	background-color: var(--color-bg);
	color: var(--color);
  font-size:large;	
}

h1 {
  margin-bottom: 2%;
  margin-top: 5%;
}

a {
  color: var(--colour);
}

ul {
  padding: 0;
}

/* custom boxes */

.bottom-container {
  position: fixed;
  padding-left: 0%;
  bottom: 1%;



}

.boxes-container {
  flex: content;
  align-items: flex-start; 
}


.left-box {
  position: fixed; 
  left: 10%;   
   padding: 10px;
  box-sizing: border-box;
}


.center-box {
  align-self: center;
  padding: 10px;
  width: 40%;
  
}

/* nav bar */

.navigation {
      padding-left: .5%;
      justify-self: left;
      display: flex;
      justify-content: space-between;
      background-color: var(--color-nav);  
      height: 50px;
      font-size: 1rem;
      align-items: center;
      
}
a {
    color: var(--color);
}
    
button {
        
    width: 45px;
    height: 0px;
    font-size: 1rem;
    justify-content: center;
    border-width: 1px;
    border-style: hidden;
    background-color: var(--color-bg);
    color: var(--color);
}
    
    

